.c-background {
  // img {
  // }
    
  &__image {
    @include position-fill(inline-block);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--fill {
    @include position-fill(absolute);
    pointer-events: none;
  }

  .container {
    position: absolute;
    top: 50vh;
  }
}

%with-background,
.c-with-background {
  @include background-support();
}
