
.footer {
  background: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 5px 0;

  > div {
    display: flex;
    flex: 1;
    justify-content: space-between;
    max-width: 1320px;
    padding: 0 12px;
  }
}
