.blog {
  background: #f9f9f9;
  padding-bottom: 39.2px;
  padding-top: 67.5px;

  .container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 600px) {
      flex-direction: column;
      
      width: 100%;

    }
  }
}

.card-post {
  width: 330px;

  .teste {
    align-items: center;
    display: flex;
    justify-content: space-between;
  
    label {
      background: #00e2bf;
      border-radius: 14px;
      color: #fff;
      padding: 3px 14px 3px 11px;
      text-transform: uppercase;
    }
    
    span {
      color: #b1b1b1;
    }
  }

  h3 {
    color: #272727;
    margin-top: 1.456rem;
  }
}
